$default: #000000;

$green1: #28868A;
$green2: #004E51;

$greybtn: #EFEFEF;
$white: #FFFFFF;
$grey: #E5E5E5;






%Calibri {
  font-family: 'Calibri', sans-serif;
  font-weight: 400;
  font-style: normal;
}

%Bold {
  font-family: 'Calibri-Bold', sans-serif;
  font-weight: 700;
  font-style: normal;
}